* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-container {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 40px;
  background-color: blue;
  justify-content: space-around;
  flex-direction: row;
}

button {
  border: none;
  width: 115px;
  padding: 10px;
  color: white;
  background-color: blue;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}